# This file goes into /etc/systemd/system directory
# After being placed, it needs to be enabled and registered as a startup service
# For this, following commands are used as root -
# $ systemctl daemon-reload
# $ systemctl enable <service name>.service
# $ systemctl start <service name>.service
# Then use 'sudo service <service name> start/stop/restart/status' to do the respective actions

[Unit]
Description=Reverse-proxy server for serving jupyter requests of MOCA

[Service]
Type=simple
ExecStart=/usr/local/bin/configurable-http-proxy --default-target=http://localhost:8888 --port 80 --api-port 8889
User=root
Group=root

[Install]
WantedBy=multi-user.target


