[Unit]
Description=Jupyter Notebook Service for MOCA

[Service]
Type=simple
Environment=JUPYTER_CONFIG_DIR=/isis/home/kulkaras/.jupyter
ExecStart=/home/anaconda2/bin/jupyter-notebook --port=9000
User=root
Group=root
WorkingDirectory=/isis/home/kulkaras/WebGME-MOCA_data/notebooks

[Install]
WantedBy=multi-user.target


